@model ProjectCoach.Models.Equipo

@{
    ViewBag.Title = "Detalles";
}



<div>
    <h2>@ViewBag.Title</h2>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>
    <hr />
    <h4>Campeonatos</h4>
    
    @Html.Partial("CampeonatosPartial", Model.Campeonatos)

    @Html.ActionLink("Crear campeonato", "CreateOwn", "Campeonatos", new { EquipoID = Model.EquipoID }, new { @class = "btn btn-primary" })
</div>
<hr />
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.EquipoID }, new { @class = "btn btn-warning"}) |
    @Html.ActionLink("volver", "Index", null, new { @class = "btn btn-danger" })
</p>
