@model ProjectCoach.Models.Equipo

@{
    ViewBag.Title = "Detalles";
}



<div>
    <h2>@ViewBag.Title</h2>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>
    <hr />
    <h4>Campeonatos</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Campeonato
                </th>
                <th>
                    DFB
                </th>
                <th>

                </th>
            </tr>
        </thead>
        @foreach (var campeonato in Model.Campeonatos)
        {
            <tbody>
                <tr>
                    <td>
                        @campeonato.Nombre
                    </td>
                    <td>
                        @campeonato.DFB
                    </td>
                    <td>
                        @Html.ActionLink("Ir", "Details", "Campeonatos" , new { @id = campeonato.CampeonatoID }, new { @class = "btn btn-success" })
                    </td>
                </tr>
            </tbody>
        }        
    </table>
    @Html.ActionLink("Crear campeonato", "CreateOwn", "Campeonatos", new { EquipoID = Model.EquipoID }, new { @class = "btn btn-primary" })
</div>
<hr />
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.EquipoID }, new { @class = "btn btn-warning"}) |
    @Html.ActionLink("volver", "Index", null, new { @class = "btn btn-danger" })
</p>
