@model IEnumerable<ProjectCoach.Models.Campeonato>

@{
    ViewBag.Title = "Mis Campeonatos";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Crear campeonato", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DFB)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DFB)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CampeonatoID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.CampeonatoID }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.CampeonatoID })
        </td>
    </tr>
}

</table>
